In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("../datasets/CPT.csv")
df

,question_text,input_outputs,website,num_words,tag_1,tag_2,tag_3,tag_4,tag_5,tag_6,tag_7,num_tags
0,This is the hard version of the problem. The o...,Input: ['18+ 1 -1? 1 1 2? 1 2 1+ 1 1? 1 3 -1? ...,codeforces,319,data structures,dfs and similar,divide and conquer,dp,math,trees,NaN,6
1,This is the simple version of the problem. The...,Input: ['18+ 1 -1? 1 1 2? 1 2 1+ 1 1? 1 3 -1? ...,codeforces,316,data structures,dfs and similar,dp,graphs,greedy,math,trees,7
2,You are given an array a consisting of n zeros...,Input: ['65 51 24 51 51 32 45531244 21 14 4223...,codeforces,182,binary search,brute force,data structures,two pointers,NaN,NaN,NaN,4
3,Timofey has an apple tree growing in his garde...,Input: ['251 23 45 33 243 45 14 41 331 21 331 ...,codeforces,243,combinatorics,dfs and similar,dp,math,trees,NaN,NaN,5
4,Vanya really likes math. One day when he was s...,Input: ['63103711000000000000000015'] Output:[...,codeforces,167,bitmasks,combinatorics,math,trees,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...
10594,You are given a string of length 5 called time...,"Input: time = ""?5:00""\nOutput: 2\n",leetcode,84,string,enumeration,NaN,NaN,NaN,NaN,NaN,2
10595,Given the heads of two singly linked-lists hea...,"Input: intersectVal = 8, listA = [4,1,8,4,5], ...",leetcode,194,hash-table,linked-list,two-pointers,NaN,NaN,NaN,NaN,3
10596,"Given a string of digits s, return the number ...","Input: s = ""103301""\nOutput: 2\n",leetcode,68,string,dynamic-programming,NaN,NaN,NaN,NaN,NaN,2
10597,You are given a series of video clips from a s...,"Input: clips = [[0,2],[4,6],[8,10],[1,9],[1,5]...",leetcode,111,array,dynamic-programming,greedy,NaN,NaN,NaN,NaN,3
10598,You are given a 0-indexed m x n integer matrix...,"Input: grid = [[5,3],[4,0],[2,1]], moveCost = ...",leetcode,202,array,dynamic-programming,matrix,NaN,NaN,NaN,NaN,3

## Extract Algorithm Tags

In [19]:
algorithms = {
    "brute force" : [],
    "search" : ["binary search", "dfs and similar", "bfs"],
    "greedy" : [],
    "dynamic programming" : ["dp"],
    "math" : ["combinatorics", "geometry", "number theory"]
}

In [23]:
df.iloc[1, 4+6]

'trees'

In [27]:
from collections import Counter

freq = Counter()
for i in range(df.shape[0]):
    for j in range(4, 4+7):
        tag = df.iloc[i, j]
        if not pd.isna(tag):
            for k in algorithms:
                if k in tag:
                    freq[k] += 1
                else:
                    for v in algorithms[k]:
                        if v in tag:
                            freq[k] += 1
                            break

freq

Counter({'search': 2321,
         'dynamic programming': 1831,
         'math': 4380,
         'greedy': 2646,
         'brute force': 1418})

In [31]:
idx_tags = dict()

for i in range(df.shape[0]):
    tags = []
    for j in range(4, 4+7):
        tag = df.iloc[i, j]
        if not pd.isna(tag):
            for k in freq:
                if k in tag:
                    tags.append(tag)
                    break
    if len(tags)>0:
        idx_tags[i] = sorted(tags)

In [32]:
len(idx_tags)

6262

In [43]:
df_sub = df.iloc[list(idx_tags.keys()),:]
df_sub.reset_index(drop=True, inplace=True)

In [47]:
df_sub["algo_tags"] = list(idx_tags.values())

/var/folders/04/6hgq7ygs5lg5504qv8g2mjt80000gn/T/ipykernel_1106/3554728771.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["algo_tags"] = list(idx_tags.values())

In [50]:
df_sub.columns

Index(['question_text', 'input_outputs', 'website', 'num_words', 'tag_1',
       'tag_2', 'tag_3', 'tag_4', 'tag_5', 'tag_6', 'tag_7', 'num_tags',
       'algo_tags'],
      dtype='object')

In [ ]:
df_sub.drop([f"tag_{i}" for i in range(1, 8)], axis=1, inplace=True)
df_sub.drop(["website", "num_words", "num_tags"], axis=1, inplace=True)

In [52]:
df_sub

,question_text,input_outputs,algo_tags
0,This is the hard version of the problem. The o...,Input: ['18+ 1 -1? 1 1 2? 1 2 1+ 1 1? 1 3 -1? ...,[math]
1,This is the simple version of the problem. The...,Input: ['18+ 1 -1? 1 1 2? 1 2 1+ 1 1? 1 3 -1? ...,"[greedy, math]"
2,You are given an array a consisting of n zeros...,Input: ['65 51 24 51 51 32 45531244 21 14 4223...,"[binary search, brute force]"
3,Timofey has an apple tree growing in his garde...,Input: ['251 23 45 33 243 45 14 41 331 21 331 ...,[math]
4,Vanya really likes math. One day when he was s...,Input: ['63103711000000000000000015'] Output:[...,[math]
...,...,...,...
6257,"In a warehouse, there is a row of barcodes, wh...","Input: barcodes = [1,1,1,2,2,2]\nOutput: [2,1,...",[greedy]
6258,Given a string num that contains only digits a...,"Input: num = ""123"", target = 6\nOutput: [""1*2*...",[math]
6259,There is a forest with an unknown number of ra...,"Input: answers = [1,1,2]\nOutput: 5\n","[greedy, math]"
6260,We run a preorder depth-first search (DFS) on ...,"Input: traversal = ""1-2--3--4-5--6--7""\nOutput...",[depth-first-search]
6261,You are given a series of video clips from a s...,"Input: clips = [[0,2],[4,6],[8,10],[1,9],[1,5]...",[greedy]

In [53]:
df_sub.to_csv("../datasets/CPTALGOML.csv", index=False)